<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{%block pagetitle %}{% endblock %}</title>
    <link rel="stylesheet" href="/media/frontend/general.css">
</head>
<body>
    <header><img class="imgicon" id="tohome" src="/media/media/imgsrc/lampada.png">Museo Volta<img id="touser" class="imgicon" src="/media/media/imgsrc/gotouser.png" style="margin-left:auto; height:90%;"></header>
    <div class="containerdiv">
    <h1>{%block title %}{%endblock%}</h1>
    <div class="centerdiv">
    {%block content %}{%endblock%}
    </div>
    </div>
    <div class="bottom">
        Magistri Cumacini - a.s. 2024/205<br>
        Membri Gruppo: De Vito-Legani-Grassi-Della Monica-Consonni-Escobar<br>
        chi l'ha fatto, chi non la fatto etc etc etc
    </div>
    <script>
        document.getElementById("tohome").addEventListener("click", ()=>{window.location={%url 'home'%}});
        document.getElementById("touser").addEventListener("click", ()=>{window.location={%url 'user'%}});
    </script>
</body>
</html>