{%extends 'base.html'%}
    {%block pagetitle%}{{ opera.title }} - Dettagli{%endblock%}
    {%block title %}{{ opera.title }}{%endblock%}
    {%block content%}
    <p><strong>Autore:</strong> {{ opera.author }}</p>
    <p><strong>Anno:</strong> {{ opera.year }}</p>
    <p><strong>Descrizione:</strong> {{ opera.description }}</p>
    {% if opera.image %}
        <img src="{{ opera.image.url }}" alt="{{ opera.title }}" class="operaimg">
    {% endif %}
    <p><a href="{% url 'home' %}">← Torna alla home</a></p>
    {%endblock%}