<!DOCTYPE html>
<html>
<head>
    <title>{{ opera.titolo }} - Dettagli</title>
    <link rel="stylesheet" href="/media/frontend/general.css">
</head>
<body>
    <h1>{{ opera.title }}</h1>
    <div class="centerdiv">
    <p><strong>Autore:</strong> {{ opera.Autore.name }} {{ opera.Autore.surname}}</p>
    <p><strong>Anno:</strong> {{ opera.year }}</p>
    <p><strong>Descrizione:</strong> {{ opera.description }}</p>
    {% if opera.image %}
        <img src="{{ opera.image.url }}" alt="{{ opera.title }}" class="operaimg">
    {% endif %}
    <p><a href="{% url 'home' %}">← Torna alla home</a></p>
    {%endblock%}