{%extends 'base.html'%}
    {%block pagetitle%}{{ opera.title }} - Dettagli{%endblock%}
    {%block title %}{{ opera.title }}{%endblock%}
    {%block content%}
    Per fare l'autore cliccabile
    {% if opera.author %}
  <p><strong>Autore:</strong> 
    <a href="{% url 'dettaglio_autore' opera.author.id %}">
      {{ opera.author.name }} {{ opera.author.surname }}
    </a>
  </p>
{% else %}
  <p><strong>Autore:</strong> Sconosciuto</p>
{% endif %}

    <p><strong>Anno:</strong> {{ opera.year }}</p>
    <p><strong>Descrizione:</strong> {{ opera.description }}</p>
    {% if opera.image %}
        <img src="{{ opera.image.url }}" alt="{{ opera.title }}" class="operaimg">
        
    {% endif %}
    {% if opera.model_3D %}
        <img scr="{{ opera.model_3D }}" alt="{{ opera.title }}">
    {% endif %}
    <p><a href="{% url 'home' %}">← Torna alla home</a></p>
    {%endblock%} 