<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Museo di Alessandro Volta</title>
    <link rel="stylesheet" href="/media/frontend/general.css">
</head>
<body>
    <h1> Opere del Museo Volta</h1>
    <div class="centerdiv">
    <ul>
        {% for opera in opere %}
        <li>
            <a href ="{% url 'detail' opera.id %}">{{opera.title}}</a> di {{opera.Autore.name}} {{opera.Autore.surname}}({{opera.year }})
        </li>
        {% endfor %}
    </div>
    </ul>
</body>
</html>