{% extends 'base.html' %}
{% block title %} User actions {% endblock %}
{% block pagetitle %} Login or Sign-up {% endblock %}

{% block content %}
<table class="auth-table">
  <tr>
    <td>
      <h2>Login</h2>
      <form class="auth-form" method="post" action=''>
        {% csrf_token %}
        {{ form_login.as_p }}
        <button type="submit">Accedi</button>
      </form>
    </td> 
    <td>
      <h2>Sign-up</h2>
      <form class="auth-form" method="post" action=''>
        {% csrf_token %}
        {{ form_signup.as_p }}
        <button type="submit">Registrati</button>
      </form>
    </td>
  </tr>
</table>
{% endblock %}


{%block scriptfinale%}<script>
  let messaggi = ["","Registrato con successo!","Nome utente esiste già","Loggato con successo", "Username o password sbagliata"];
                  //0         1                          2                         3                        4
  let msg = {{msg}};
  if (msg!=0){alert(messaggi[msg]);};        
</script>{%endblock%}